<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定映射到dao层 -->
<mapper namespace="com.aaa.mapper.RepostsDaoMapper">

	<!-- 查询单条数据，类型int返回reposts类型 -->
	<select id="findOne" parameterType="int" resultType="reposts">
		select * from reposts where id=#{id}
	</select>

	<!-- 查询所有数据时间降序 -->
	<select id="findAll" resultType="reposts">
		select * from reposts order by time desc
	</select>

	<!-- 增加数据 -->
	<insert id="add" parameterType="reposts">
		insert into reposts
		values(default,#{repost_id},#{text},#{repost_user},#{time})
	</insert>

	<!-- 更新数据-通过id -->
	<update id="upd" parameterType="reposts">
		update reposts set
		repost_id=#{repost_id},text=#{text},repost_user=#{repost_user},time=#{time}
		where id =#{id}
	</update>

	<!-- 删除数据-通过id -->
	<delete id="del" parameterType="int">
		delete from reposts where id=#{id}
	</delete>
</mapper>